---
  import BaseLayout from '../layouts/BaseLayout.astro'
  import Nav from '../components/Nav.astro'
  import { Image } from 'astro:assets'

  import pic1 from '../images/pic1.png'

---
<BaseLayout title='About page'>
    
     <Nav/>
     
     <h1 transition:name="h1" transition:animate="slide">About</h1>

     <footer slot="about-footer">
      About footer
     </footer>
      <form action="/faq" method="POST" data-astro-reload>
        <button>submits</button>
      </form>
     <Image src={pic1}  alt={'mypic'} layout='constrained'/>


</BaseLayout>