---
  import BaseLayout from '../layouts/BaseLayout.astro'
  import Nav from '../components/Nav.astro'
  import { Users,User } from '../components/react/Users';

---
<BaseLayout>
    
     <Nav/>
     
     <h1 style={{color:'green'}} transition:name="h1"  transition:animate="slide">FAQ</h1>


      <Users name={'gaut'} client:load >
        <header slot="header" >header</header>
        <main onclick="console.log('main')" style="color: green;" >main</main>
        <User client:idle />
      </Users>
      
</BaseLayout>