---
import type { GetStaticPaths } from "astro";
  import BaseLayout from '../../layouts/BaseLayout.astro'
  import Nav from '../../components/Nav.astro'

   export const getStaticPaths = (() => {
    
    return [
        {params:{name:'rant'},props:{age:19}}
    ];
    
  }) satisfies GetStaticPaths;


  const {name}=Astro.params;

  const props=Astro.props


---
<BaseLayout title="Dogs Page" >
    
     <Nav/>
     <a href="#" data-></a>
     <h1>Name {name} </h1>

</BaseLayout>