---

interface Props{
  title?:string
}

const {title}=Astro.props
import { ClientRouter } from "astro:transitions";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title??'Document'}</title>
    <ClientRouter />

    <slot name="defaultassets" ></slot>
</head>

<body transition:animate="slide" >

    <slot name="about-footer" >
        footer non definis
    </slot>

    <slot />


</body>
</html>